<!DOCTYPE html>
<html>
<head>
    <title>meet&eat Register</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>This will show the register form</h1>

    <h3>New Team</h3>
    {% if form.errors %}
        <ul class="errors" id="form_errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <form class="form-horizontal" id="data_form" method="POST" action="#">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type not in ("HiddenField", "CSRFTokenField") %}
                <div class="control-group">
                    {{ field.label(class="control-label") }}
                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Anmelden</button>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet-src.js"></script>

<script type="text/javascript">
    var post_target = "{{ url_for(".register_async")|safe }}"
    $(function () {
        $("#data_form").on("submit", function (event) {
            event.preventDefault();

            $("#form_errors").remove();

            var data = {};
            $("#data_form").find("input").each(function (idx, item) {
                var $item = $(item),
                        value = $item.val();
                if (!($item.attr("type") === "checkbox" && !$item.is(":checked"))) {
                    data[$item.attr("name")] = value;
                }
            });
            $.post(post_target, data, function (result) {
                console.log(result);
                var err = $('<div class="alert" id="form_errors"></div>');
                if (result.state === undefined) {
                    err.append($('<strong>Error:</strong> Submit failed!'));
                    $("#data_form").prepend(err);
                } else {
                    if (result.state !== "success") {
                        $.each(result.errors, function (key, val) {
                            err.append($("<span><strong>" + key + ":</strong> " + val + "</br></span>"))
                        });
                        $("#data_form").prepend(err);
                    } else {
                        alert("Successfully submitted!")
                    }
                }
            }, "json")
        })
    })
</script>
</body>
</html>