Flask==0.9
Flask-Mail==0.7.6
Flask-WTF==0.8.3
Jinja2==2.6
SQLAlchemy==0.8.0b2
WTForms==1.0.3
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.2
distribute==0.6.35
nose==1.2.1
pysqlite==2.6.3
wsgiref==0.1.2
