<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mediaqueries.css') }}"/>
</head>
<body>

<div id="meetandeat-wrapper">
    <div class="container" id="mnelogo">{% include 'public/logo.svg' %}</div>
    <div class="container" id="about">
        <a name="about"></a>
        <h2>Herzlich willkommen&#33;</h2>

        <a href='http://www.exmatrikulationsamt.de' target='_self'>eXmatrikulationsamt.de</a> organisiert nach längerer Pause 
        wieder ein meet&amp;eat in Dresden. An einem Abend lernt Ihr in verschiedenen geselligen Runden viele neue Leute
        kennen. Besonders die Erst- und Zweitsemester sind herzlich eingeladen, mitzumachen und zahlreiche neue Gesichter
        in Dresden kennenzulernen. Am Ende gibt es für alle Teilnehmer eine Afterdinnerparty im Club Aquarium.
    </div>
    <div class="container" id="next">
        <a name="next"></a>
        <p><strong>Nächstes Mal am <a href='{{ event_url }}' target='_blank'>{{ event_date }}</a>
            <small>(Anmeldeschluss: {{ event_register_end }})</small>
        </strong></p>
    </div>
    <div class="container" id="signup1">
        <a name="signup1"></a>
        <a id="meetandeat-anmeldebutton" href="{{ url_for("register.form") }}" target="_blank">Jetzt anmelden</a>
    </div>
    <div class="container" id="how-it-works">
        <a name="how-it-works"></a>
        <h2>So funktioniert‘s:</h2>
        <h3>Euer Team</h3> Ihr könnt euch als Dreierteams anmelden. Solltet Ihr weniger als drei Personen für Euer Team
        haben so helfen wir euch, Mitstreiter zu finden. Hilferufe per <a
            href='mailto:meetandeat@exmatrikulationsamt.de'>Mail</a>
        <h3>Eure Aufgabe</h3> Jedes Team ist für einen Gang verantwortlich. Ob Ihr Vorspeise, Hauptgang oder Dessert
        serviert, entscheidet das Los. Ob es Tütensuppe gibt oder Rehrücken, das entscheidet Ihr selbst. Ihr serviert
        euren
        Gästen einen Gang in eurer WG. <h3>Wechselmodus</h3> Ihr seid also einmal Gastgeber und zweimal zu Gast.
        Zwischen
        den Gängen ziehen alle Teams um und treffen in der nächsten Wohnung auf zwei neue Teams. Ihr lernt also
        insgesamt 6
        andere Teams während des Dinners kennen. Einmal kocht Ihr selbst, zweimal werdet Ihr bekocht. Die Teams werden
        so
        verteilt, dass die Wege möglichst kurz sind. <h3>Party</h3> Zu guter Letzt treffen sich alle Teilnehmer bei der
        After-Dinner-Party im Club Aquarium wieder. Wiedersehen möglich gemacht: auf der Party Nummern
        austauschen oder einfach nur quatschen. Gewinnen leicht gemacht: Auf der Party gibt‘s dann auch noch was zu gewinnen.
    </div>
    <div class="container" id="prices">
        <a name="prices"></a>
    </div>
    <div class="container" id="signup2">
        <a name="signup2"></a>
        <a id="meetandeat-anmeldebutton" href="{{ url_for("register.form") }}" target="_blank">Jetzt anmelden</a>
    </div>
    <!--div class="container" id="attachments">
        <a name="attachments"></a>
        <ul id="sponsors"></ul>
    </div-->
    <div class="container" id="terms">
        <a name="terms"></a>
        <h2>Teilnahmebedingungen</h2>
        <h3>Teams</h3>
        <ul>
            <li> Die Anmeldung bei meet&amp;eat ist nur als vollständiges Team aus drei Personen gestattet.</li>
            <li> Mit der Anmeldung bestätigt Ihr, dass Ihr am {{ event_date }} an der Veranstaltung meet&amp;eat
                teilnehmen werdet.
            </li>
            <li> Mit der Anmeldung bestätigt Ihr, dass Eure Kontaktdaten vollständig und richtig sind.</li>
            <li> Anzahl an Vegetariern im Team, Allergien und Ähnliches müssen bei der Anmeldung angegeben werden.
                Spätere Veränderungen Korrekturen können nur bedingt vorgenommen werden.
            </li>
            <li> Die Anmeldung ist erst an erfolgreicher Bestätigung per Bestätigungslink in der Registrierungsmail
                vollständig und wird auch erst dann berücksichtigt.
            </li>
        </ul>
        <h3>Absagen</h3>
        <ul>
            <li> Es kann immer etwas unerwartetes wie z.B. eine Krankheit dazu führen, dass ein Team nicht oder nicht
                vollständig antreten kann. Zur erfolgreichen Veranstaltungsdurchführung ist es allerdings ausgesprochen
                wichtig, dass alle angemeldeten Teams auch tatsächlich an der Veranstaltung teilnehmen. Darum solltet
                Ihr euch zunächst erstmal um eine Ersatzperson kümmern, falls einer bei euch absagt. Zur Not könnt Ihr
                auch zu zweit teilnehmen.
            </li>
            <li> Sollte wirklich kein Weg an einer Absage des ganzen Teams vorbeiführen, sagt uns bitte trotzdem
                rechtzeitig bescheid.
            </li>
            <li> Das Fehlen eines Teams wirkt sich auf die Abendplanung von acht weiteren Teams aus&#33;</li>
        </ul>
        <h3>Datenschutz</h3>
        <ul>
            <li> Alle Daten, die der Studentenforum Dresden e.V. bei der Anmeldung von meet&amp;eat Teams erhält werden
                vertraulich behandelt und ausschließlich zur Durchführung der Veranstaltung meet&amp;eat gespeichert und
                verwendet.
            </li>
            <li> Mit der Anmeldung zu meet&amp;eat erklärt sich jedes Team damit einverstanden, dass dessen Adress- und
                Kontaktdaten vom Studentenforum Dresden e.V. an die jeweiligen Teams weitergegeben werden, die diese
                Daten im Sinne des Ablaufes meet&amp;eat benötigen.
            </li>
        </ul>
    </div>
    <div class="container" id="past-events">
        <a name="about"></a>
        <h2>Alle meet&amp;eat Events</h2>
        <p>
        <ul>
            <li><a href="http://exma.de/6049432">29.05.2010</a></li>
            <li><a href="http://exma.de/6052510">27.11.2010</a></li>
            <li><a href="http://exma.de/6055865">28.05.2011</a></li>
            <li><a href="http://exma.de/6058272">26.11.2011</a></li>
            <li><a href="http://exma.de/6060345">12.05.2012</a></li>
            <li><a href="http://exma.de/6064179">10.11.2012</a></li>
            <li><a href="http://exma.de/6066146">04.05.2013</a></li>
            <li><a href="http://exma.de/6068019">23.11.2013</a></li>
            <li><a href="http://exma.de/6069908">17.05.2014</a></li>
            <li><a href="http://exma.de/6071471">08.11.2014</a></li>
            <li><a href="http://exma.de/6072758">02.05.2015</a></li>
            <li><a href="http://exma.de/6074568">07.11.2015</a></li>
        </ul>

        <p>
    </div>
</div>
<script src="{{ url_for('static', filename='lib/jquery/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery/jquery.isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom_landing.js') }}"></script>
</body>
</html>
