{% extends "admin/map_sidebar.html" %}

{% block sidebar %}
        <h5>Verfügbare Teams</h5>
        {% for team in teams %}
            <div class="team_container" style="clear: both" data-teamid="{{ team.id }}">
                <div class="btn-group" data-toggle="buttons-radio" style="float: right;">
                    {% for group in groups %}
                    <button type="button" class="btn btn-mini{% if team.groups == group.idx %} active{% endif %}" data-groupid="{{ group.idx }}">{{ group.name }}</button>
                    {% endfor %}
                </div>
                <div class="group_team" id="side_team_{{ team.id }}">
                    {{ team.name }}<br>
                </div>
            </div>
        {% endfor %}
        <h5>Satistik</h5>
        {% for group in groups %}
            <div class="group_stats">
            Gruppe {{ group.name }}: <div style="float: right;" id="group_stat_{{ group.idx }}">{{ group.count }} Teams</div>
            </div>
        {% endfor %}
{% endblock %}

{% block extra_js %}
    {{ super() }}

    <script type="text/javascript">
        var group_markers = {};

        function hover_marker(team_id, set_on, popup) {
            var elem = $("#side_team_" + team_id);
            var target_class = (popup ? "selected" : "hovered");
            if (set_on) {
                elem.addClass(target_class);
                if (popup) {
		    var pos = elem.position().top;
		    if (pos < 0 || pos > $(elem.parent()).height()) {
			$("#grouped_teams").animate({
			    scrollTop: elem.position().top
			}, 100);
		    }
                    group_markers[team_id].setIcon(markers["red"]);
                }
            } else {
                elem.removeClass(target_class);
                if (popup) {
                    group_markers[team_id].setIcon(markers[group_markers[team_id]._orig_color]);
                }
            }
        }

        function transformLoc(lat, lon) {
            return [lat, lon];
            //return  [51.0322627 + ((0.5 - Math.random()) / 10), 13.7071665 + ((0.5 - Math.random()) / 10)]
        }

        function setMarker(data) {
            var marker = L.marker(transformLoc(data.location.lat, data.location.lon), {icon: icon_red});
            if (data.data !== undefined) {
                marker.setIcon(markers[data.data.color]);
                var popup = $("<span><h4>Team: " + data.data.name + " ("+ data.data.id +")<br><small>" + data.data.address + "</small></h4><br><strong>Members:</strong><ul></ul></span>");
                for (var i = 0; i < data.data.members.length; i++) {
                    popup.find("ul").append($("<li>" + data.data.members[i] + "</li>"));
                }
                marker.bindPopup(popup.html());
                marker._team_id =  data.data.id;
                marker._orig_color = data.data.color;
                marker.on("mouseover", function(e){hover_marker(data.data.id, true, false)});
                marker.on("mouseout", function(e){hover_marker(data.data.id, false, false)});
            }
            marker.addTo(map);
            group_markers[data.data.id] = marker;
        }

        function set_group(team, group) {

            $.post("{{ url_for(".update_group") }}", {group_id: group, team_id: team}, function( data ) {
                var marker = group_markers[team],
                        color = data.color,
                        list_elem = $("#side_team_" + team),
                        stats = data.counts;

                marker._orig_color=color;
                if (! list_elem.hasClass("selected")) {
                    marker.setIcon(markers[color]);
                }
                for (idx in stats) {
                    $("#group_stat_" + idx).html(stats[idx] + " Teams");
                }
            }, "json")
        }

        $(function () {
            $.getJSON("{{ url_for(".group_map_teams") }}", function (data) {
                var i = 0;
                for (i = 0; i < data.length; i++) {
                    setMarker(data[i]);
                }
            });

            map.on("popupopen", function( e ) { hover_marker(e.popup._source._team_id, true, true); });
            map.on("popupclose", function( e ) { hover_marker(e.popup._source._team_id, false, true); });
            $(".group_team").bind("click", function( e ) {
                var elem = $(e.target),
                    id = elem.parents(".team_container").data("teamid"),
                    marker = group_markers[id];

                if (elem.hasClass("selected")) {
                    marker.closePopup();
                } else {
                    marker.openPopup();
                }
            });
            $(".team_container").find(">.btn-group>button").bind("click", function( e ) {
                var elem = $(e.target),
                        teamid = elem.parents(".team_container").data("teamid"),
                        groupid = elem.data("groupid");
                console.log("select " + groupid + " for " + teamid);
                set_group(teamid, groupid);
            })

        })
    </script>
{% endblock %}
